<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>SK HAIR SALON</title>
    <link rel="shortcut icon" href="../img/icon.ico" type="image/x-icon">
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'>
    <link rel="stylesheet" href="/css/styles.css">
  </head>
  <body>
    <div class="jumbotron">
      <div class= "container">
        <h1>SK Hair Salon</h1>
      </div>
    </div>
    @RenderBody()
  </body>
</html>
