@{
  Layout = "_Layout";
}
<div id="main">
<div class="container">
  <div class="row no-gutters">
    <div class="col-12 col-md-6 col-lg-8" id="firstcol">
      <h1>New Hire</h1><br>
      <a href='/stylists/new'>Add a new Stylist</a><br>
      <a href="/specialties/new">Add a Specialty</a><br><br><br>
      <a href="/stylists">List of our Stylists</a><br>
      <a href="/specialties">List of our Specialties</a>

    </div>
    <div class="col-6 col-lg-4" id="secondcol">
      <h1>Our Stylists</h1><br>
        <ul>
          @foreach ( var stylist in Model)
          {
            <a href='/stylists/@stylist.GetId()'>@stylist.GetName()</a><br>
          }
        </ul>
      </div>
    </div>
  </div>
  <div class="footer">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
        </div>
      </div>
    </div>
  </div>
</div>
