@{
  Layout = "_Layout";
}
<div id="main">
  <div class="container">
    <div class="row">
      <div class="col-md-6" id="firstcol">
        <h2>Edit client: @Model["client"].GetClientName()</h2>
        <form action="/stylists/@Model["stylist"].GetId()/clients/@Model["client"].GetId()" method="post">
          <h3><label for="newName">Name:</label><br>
          <input type="text" name="newName" value="@Model["client"].GetClientName()"></h3>
          <h3><label for="newAppointment">Appointment:</h3></label>
          <input type="date" name="newAppointment" value="@Model["client"].GetAppDate()"><br><br><br>
          <button class="second" type="submit">Edit</button>
        </form>
      </div>
      <div class="col-md-6" id="secondcol">
          <a href="/stylists/@Model["stylist"].GetId()/clients/@Model["client"].GetId()">Return to previous page</a><br>
          <a href="/stylists/">Return to List of Stylist</a><br>
          <a href="/">Back home</a></h1>
      </div>
    </div>
  </div>
  <div class="footer">
    <div class="container">
      <div class="row">
        <div class="col-md-12r">
        </div>
      </div>
    </div>
  </div>
</div>
